 nav{
    display : flex;
    gap : 100px;
    text-decoration: none;
 border: 2px solid white;
    padding: 10px;
    justify-content: center;
    align-items: center;
 }
 li{
    list-style: none;
    font-size: 20px;
    
 }

 
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
      background-color: black;
 }
 .red{
  background-color: red;
  color: white;
 }